In [1]:
import difflib
import pandas as pd
import pandas as pd
import sklearn
n='TargetDataBasecsv.csv'
m='completedclient.csv'
df1=pd.read_csv(m)
df=pd.read_csv(n)
ym=df.columns.values.tolist()
ym1=df1.columns.values.tolist()
d=[]
t=[]
for i in ym:
    for j in ym1:
        seq=difflib.SequenceMatcher(None,i,j)
        t.append(j)
        t.append(i)
        t.append(seq.ratio()*100)
        d.append(t)
        t=[]
f=pd.DataFrame(d,columns=["Source","Target","Match"])

dicte={}
for i in range(len(f)):
    tg=[]                                
    dicte1={}
    if f.Target[i] in dicte.keys():
        if f.Match[i]>dicte[f._get_value(i,'Target')][1]:
            tg.append(f.Source[i])
            tg.append(f.Match[i])
            dicte1[f.Target[i]]=tg
            dicte.update(dicte1)
        
    else:
        tg.append(f.Source[i])
        tg.append(f.Match[i])
        dicte[f.Target[i]]=tg

tar=[]
for i in dicte.keys():
    tar.append(i)

sour=[]
for i in tar:
    sour.append(dicte[i][0])

per=[]
for i in tar:
    per.append(dicte[i][1])

souro=pd.DataFrame(sour,columns=['Source'])
taro=pd.DataFrame(tar,columns=['Target'])
pero=pd.DataFrame(per,columns=['Match'])
fin=pd.merge(souro,taro,right_index=True, left_index=True)
fino=pd.merge(fin,pero,right_index=True, left_index=True)
fino

       Source       Target      Match
0   client_id      Acct_id  62.500000
1   client_id  Acct_UIDNo.  30.000000
2       state   Acct_FName  40.000000
3       state   Acct_MName  40.000000
4       state   Acct_LName  40.000000
5   client_id   Acct_Addr1  42.105263
6   client_id   Acct_Addr2  42.105263
7        city    Acct_City  61.538462
8       state   Acct_State  53.333333
9       phone   Acct_phone  66.666667
10      email   Acct_email  66.666667
11  client_id     Acct_DOB  35.294118
12  client_id  Acct_Gender  40.000000